.content > .table-view:first-child {
    margin-top: -2px;
}

.swipe-view {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 200px;
    font-size: 200pt;
}

.hidden {
    opacity: 0;
}

.clear {
    margin-top:20px;
    margin-bottom: 20px;
}

.media-object.big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.media-object.small {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.table-view-cell h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0 4px 0;
    margin: 0;
}

input[type=search] {
    border-radius: 8px;
}

.card {
    margin-top:54px;
}
.pageslider-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 0);
    text-align: left;
    background: #ffffff;
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 1px);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 1px);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}